@use '../../styles/variables' as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-unit;
  padding: $spacing-unit * 6 $spacing-unit * 3;
  text-align: center;

  &:last-child {
    padding-bottom: $spacing-unit * 6;
  }
}

.icon {
  margin-bottom: $spacing-unit;
  font-size: 40px;
}

.title {
  font-weight: 600;
}

.action {
  margin-top: $spacing-unit * 2;
}
